<div class="col-md-12 bd-content" style="text-align: center">
    <img src="assets/img/image_banner.png" class="figure-img img-fluid rounded">
</div>

<app-invoice-list [showActions]="false" [showTotal]="true" [invoiceData]="invoiceData"></app-invoice-list>

<div class="col-md-12" style="text-align: center">
    <button type="button" (click)="restData()" class="btn btn-outline-danger">Delete Work</button>
</div>
