<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Invoice Number</th>
                <th scope="col" class="text-right">Net</th>
                <th scope="col" class="text-right">% Tax</th>
                <th scope="col" class="text-right">Tax</th>
                <th scope="col" class="text-right">Total</th>
                <th scope="col" *ngIf="showActions"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoiceLists; let i = index">
                <th scope="row">{{invoice.numberInvoice}}</th>
                <td class="text-right">{{invoice.net | currencyFormat }}</td>
                <td class="text-right">{{invoice.tax }} %</td>
                <td class="text-right">{{invoice.netTax | currencyFormat }}</td>
                <td class="text-right">{{invoice.total | currencyFormat }}</td>
                <td *ngIf="showActions"><button type="button" (click)="deleteInvoice(i)" class="btn btn-danger" title="Remove Invoice" placeholder="Remove Invoice">Remove</button> </td>
            </tr>
        </tbody>
        <tfoot class="thead-dark" *ngIf="showTotal">
            <tr> 
                <th scope="col"># Invoice Count: {{invoiceData.invoiceCount}}</th>
                <th scope="col" class="text-right">Net Total: {{invoiceData.netTotal | currencyFormat}}</th>
                <th scope="col"></th>
                <th scope="col" class="text-right">Tax Total: {{invoiceData.taxtTotal | currencyFormat}}</th>
                <th scope="col" class="text-right">Invoice Total: {{invoiceData.invoiceTotal | currencyFormat}}</th>
            </tr>
        </tfoot>
    </table>
</div>

    

