<div class="container" style="background-color: #e0e0e0; margin-top:20px;">
    <div class="col-md-12" style="padding-top: 10px;">
        <div class="row">
            <div class="list-group col-md-12">
                <div class="list-group-item list-group-item-action flex-column align-items-start active d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{listWeatherDetail.name}}, {{listWeatherDetail.country}}</h5>
                </div>
            </div>
        </div>
    </div>

<div class="table-responsive">
    <table class="table" *ngFor="let item of listWeather; let i = index">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Weather Type</th>
                <th scope="col">Temperature | Min - Max</th>
                <th scope="col">Humidity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.dt_txt | date }}</td>
                <td>{{item.weather[0].description}}</td>
                <td>
                    <b>{{item.main.temp}} °C </b>
                    (<font class="text-info">{{item.main.temp_min}}</font> - <font class="text-danger">{{item.main.temp_max}}</font>)
                </td>
                <td>{{item.main.humidity}} %</td>
            </tr>
        </tbody>
    </table>
</div>
</div>