<div class="row">
    <div class="col-md-12 bd-content" style="text-align: center">
        <img src="assets/img/image_banner.png" class="figure-img img-fluid rounded">
    </div>
</div>


<div class="col-md-12" style="margin-top: 30px; margin-bottom: 30px;">
    
        <form [formGroup]="invoiceForm" (ngSubmit)="addInvoice()" class="form-inline">
            
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label class="">Invoice Number</label>
                        </div>
                        <div class="col">
                            <input type="text" name="numberInvoice" class="form-control" formControlName="numberInvoice"
                                required>
                            <span
                                *ngIf="!invoiceForm.get('numberInvoice').valid && invoiceForm.get('numberInvoice').touched">*
                                Please enter an Invoice number</span><br>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                    <div class="col">
                        <label>Net</label>
                    </div>
                    <div class="col">
                        <input type="text" name="net" class="form-control" formControlName="net"
                            (change)="calculateTax()" required>
                        <span *ngIf="!invoiceForm.get('net').valid && invoiceForm.get('net').touched">* Please enter
                            only numeric characters</span><br>
                    </div>
                </div>
                </div>


                <div class="form-group">
                        <div class="row">
                    <div class="col">
                        <label>Tax List</label>
                    </div>
                    <div class="col">
                        <select formControlName="taxList" (change)="calculateTax()"class="form-control">
                            <option value="" selected>Select Tax %</option>
                            <option *ngFor="let item of taxList; let i = index" [value]="item">
                                {{item}} %
                            </option>
                        </select>
                    </div>
                    </div>
                </div>

                <div class="form-group">
                        <div class="row">
                    <div class="col">
                        <label>Total</label>
                    </div>
                    <div class="col">
                        <input type="text" name="total" class="form-control" formControlName="total" required disabled>
                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col buttons-actions">
                            <button type="submit" [disabled]="!invoiceForm.valid" class="btn btn-outline-success">Add</button>
                            <button type="button" (click)="restForm()" class="btn btn-outline-danger">Clear</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>

    
<app-invoice-list (invoiceCountList)="invoiceCountEmited($event)"></app-invoice-list>

<div class="row">
    <div class="col-sm" style="text-align: right;" *ngIf="totalInvoices > 0">
        <a href="invoices_detail" class="btn btn-info">Process and Continue</a>
    </div>
</div>

<app-weather></app-weather>

