.add-invoice{
    width: 120px;
    color: #4fbbbb;
    border-color: #4fbbbb;
    margin: 10px;
}

.clear-invoice{
    width: 120px;
    color: #dc3545;
    border-color: #dc3545;
    margin: 10px;
}

.form-inline label{
    justify-content: left;
}

.form-inline .form-group{
    display: initial;
    margin: 3px;
}

.form-inline .form-group button{
    margin: 2px;
    width: 120px;
    margin-top: 19px;
}

.form-group .row{
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .form-group .row{
        display: flex !important;
    }
    .form-inline {
        display: block;
    }
    .row .buttons-actions{
        text-align: center
    }
}

